# --------------------------
# Core Testing Frameworks
# --------------------------
pytest==8.1.1
behave==1.2.6

# --------------------------
# Web Automation
# --------------------------
selenium==4.23.1
webdriver-manager==4.0.2

# --------------------------
# Reporting Plugins
# --------------------------
pytest-html==4.1.1
pytest-metadata==3.1.1
behave-html-formatter==0.9.10

# --------------------------
# Utilities
# --------------------------
loguru==0.7.2
configparser==6.0.0
